default: &default
  ably_api_key: "key"
  ably_channel: "channel"

# production specific
#
production:
  <<: *default

#
# development specific
#
development:
  <<: *default

#
# staging specific
#
staging:
  <<: *default

#
# test specific
#
test:
  <<: *default
